.container {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.sentence-container {
  width: 100vw;
  height: 95vh;
  overflow: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 900;
}

.sentence {
  cursor: pointer;
}

.word1,
.word2,
.word3 {
  display: inline-block;
  margin-right: 0.2em;
}

/* @media (max-width: 1000px) {
  .sentence-container {
    text-align: center;
  }

  .sentence {
    display: none;
  }
} */

@media (max-width: 510px) {
  .sentence-container {
    height: 92%;
    width: 100%;
    font-size: 2rem;
  }
}
