.container {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.sentence-container {
  width: 100vw;
  height: 95vh;
  overflow: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 900;
  background-color: #000000;
}

.sentence {
  cursor: pointer;
}

.word1,
.word2,
.word3 {
  display: inline-block;
  margin-right: 0.2em;
}

.capture-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 2000;
  color: #fff;
}

@keyframes fadeInOut {
  0% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(100%);
  }
  80% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-200%);
  }
}

.fade-in-out-text {
  display: none;
  animation: fadeInOut 2s linear;
  animation-fill-mode: forwards;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  color: #000;
  z-index: 3000;
}

@media (max-width: 510px) {
  .sentence-container {
    height: 92%;
    width: 100%;
    font-size: 2rem;
  }

  .capture-icon {
    display: none;
  }
}
