@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");
@import "@kfonts/neodgm-code";

.container {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  background-color: #0e1111;
  display: flex;
  box-shadow: 0 0 0 4px #cbcbcb inset;
  overflow: hidden;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.nav-title {
  color: #ffffff;
  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
  margin: 6px;
  font-size: 14px;
}

.nav-border-bottom {
  position: absolute;
  top: 30px;
  height: 4px;
  width: 100%;
  background-color: #cbcbcb;
}

.nav-icon {
  position: absolute;
  right: 35px;
  top: 8px;
  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
  text-align: center;
  display: inline-block;
  background-color: #cbcbcb;
  box-shadow: -1px -1px 0px 1px white, 1px 1px 0px 1px #97958f;
  color: #0e1111;
  margin-left: 20px;
  padding-top: 3px;
  width: 20px;
  height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.close {
  right: 9px;
  padding-top: 2px;
  padding-bottom: 1px;
}

.select {
  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
}

.time-container {
  font-size: 22px;
  color: #ffff00;
  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
  width: 90px;
}

.sheep-point {
  color: #00ff00;
}

.sheep-container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-weight: 450;
  height: 100%;
  opacity: 0.85;
  position: absolute;
  text-align: center;
  top: 15vh;
  width: 100%;
  height: 87vh;
}

@media (max-width: 450px) {
  .sheep-container {
    top: 5vh;
  }
}

.nav-div {
  background-image: linear-gradient(to right, #112366, lightblue);
  margin: 4px;
  width: 100%;
  height: 30px;
}

.sheep {
  font-size: 100px;
  padding-right: 20px;
}

.text-container {
  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
  margin: 10px 0 0 0;
  height: 20px;
  font-size: 20px;
}

.button-container {
  margin: 10px 0;
  font-size: 20px;
}

.button {
  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
  background-color: #e9e8df;
  box-shadow: 1px 1px 0px 1px #97958f;
  padding: 1px 5px;
  font-size: 19px;
  width: 40px;
  height: 25px;
  margin-left: 5px;
  color: #0e1111;
}

.button:hover {
  background-color: #0e1111;
  transition: 0.3s;
  color: #ffffff;
}

.timer-container {
  margin: 5px 0 10px 0;
  font-size: 20px;
}

.settings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.settings-div {
  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0e1111;
  background-color: #e9e8df;
  width: 290px;
  height: 120px;
  box-shadow: -2px -2px 0px 2px white, 1px 1px 0px 2px #97958f;
  font-size: 16px;
  margin-top: 10px;
}

.settings-plan-div {
  text-align: left;
  margin-left: 50px;
}

.settings-rest-div {
  margin: 5px 0 7px 50px;
  text-align: left;
}

.settings-pomodoro-div {
  margin: 5px 0;
  text-align: left;
  margin-left: 50px;
}

.pomodoro-container {
  display: flex;
  justify-content: space-around;
}

.pomodoro {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 300px;
}

.pomodoro-image {
  margin: 0 5px;
}

@media (max-width: 500px) {
  .sheep {
    font-size: 90px;
  }
}
