.container {
  display: none;
}

.tag-item {
  /* display: inline; */
  display: flex;
  align-items: center;
  color: var(--text-color);
  line-height: 250%;
  font-size: 0.95rem;
  width: fit-content;
  height: 20px;
  /* border: 1px solid var(--border-light-color); */
  background-color: var(--border-light-color);
  border-radius: 20px;
  padding: 7px 11px;
  margin-right: 3px;
  margin-bottom: 4px;
  word-break: normal;
}

@media (max-width: 525px) {
  .container {
    /* display: inline-block; */

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding: 25px 10px;
    border-bottom: 1px solid var(--border-light-color);
    box-sizing: border-box;
  }
}
