.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 50px 15px;
  width: 100%;
}

@media (max-width: 1300px) {
  .container {
    padding: 50px 30px;
  }
}

@media (max-width: 800px) {
  .container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 70px 30px;
    width: 100%;
  }
}

@media (max-width: 525px) {
  .container {
    padding: 40px 20px;
  }

  .container:first-child {
    padding: 30px 20px 40px 20px;
  }
}
