@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");
/* @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@900&display=swap"); */

html {
  margin: 0;
  height: 100%;
  width: 100%;
}
.fruits-container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(45deg, #d0d0d0 25%, transparent 25%),
    linear-gradient(-45deg, #d0d0d0 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #d0d0d0 75%),
    linear-gradient(-45deg, transparent 75%, #d0d0d0 75%);
}

body {
  margin: 0;
  /* background-color: #f4f6f7; */
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #0e1111;
  }
} */

.test30-div-1 {
  overflow: hidden;
  position: fixed;

  width: 100vw;
  height: 98vh;

  /* 상하좌우 정중앙 정렬하기 */
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* font-family: "Nanum Gothic", sans-serif;
  font-family: "Noto Sans KR", sans-serif; */
  font-size: 4.7vw;
  font-weight: 900;
}

.test30-div-2 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: pointer;

  /* -webkit-transform: rotate(90deg); */
}

.test30-div-3 {
  display: none;
}

.test30-test {
  display: none;
}

@media (max-width: 450px) {
  .test30-div-1 {
    height: 100vh;
  }

  .test30-div-2 {
    /* height: 100vh; */

    /* -webkit-transform: rotate(90deg); */
    font-size: 10vw;
    word-break: keep-all;
  }
}

@media (max-width: 1000px) {
  .test30-test {
    display: flex;
    flex-direction: column;
    /* font-weight: 800; */
  }

  .test30-div-1 {
    text-align: center;
  }

  .test30-div-2 {
    display: none;
  }

  .test30-div-3 {
    display: flex;
    /* flex-direction: column; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;

    /* font-size: 11vw; */
    /* word-break: keep-all; */
    /* line-height: 200%; */
  }

  .test30-div-3-1 {
    display: inline-block;
    /* height: 22vh; */
    font-size: 8vw;
  }

  .test30-div-3-2 {
    display: inline-block;
    /* height: 22vh; */
    font-size: 8vw;
    margin-left: 1.8vw;
  }

  .test30-div-3-3 {
    display: inline-block;
    height: 15vh;
    font-size: 8vw;
    margin-top: 3vh;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
  }
}

@media (max-width: 500px) {
  body {
    position: fixed;
    overflow: hidden;
  }

  .test30-div-1 {
    height: 92%;
    width: 100%;
  }

  /* .test30-div-1::-webkit-scrollbar {
    display: none;
  } */

  .test30-div-3-3 {
    height: 0;
  }
}

.sheep-div-1 {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.sheep-container {
  display: flex;
  flex-direction: column;
  color: #0e1111;
  font-weight: 450;
  height: 100%;
  opacity: 0.85;
  position: absolute;
  text-align: center;
  top: 6vh;
  width: 100%;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sheep-count {
  font-size: 100px;
  padding-right: 20px;
}

.born {
  margin-bottom: 0;
  font-size: 20px;
}

.sheep-timer {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}

.sheep-button-container {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: space-around;
}

.sheep-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e6e6e6;
  width: 282px;
  height: 135px;
  border-radius: 10px;
  font-size: 16px;
}

.sheep-plan {
  text-align: left;
  margin-left: 50px;
}

.sheep-rest {
  margin-top: 5px;
  text-align: left;
  margin-left: 50px;
}

.sheep-pomodoro {
  margin-top: 5px;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 7px;
}

.pomodoro-box-container {
  display: flex;
  justify-content: space-around;
}

.pomodoro-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  width: 300px;
  /* height: 45vh; */
  opacity: 35%;
  /* background-color: #0e1111; */
}

.sheep-image {
  margin: 0 5px;
}

@media (prefers-color-scheme: dark) {
  .born,
  .sheep-container {
    color: #f4f6f7;
  }
}

@media (max-width: 500px) {
  .sheep-container {
    top: 3vh;
  }

  .sheep-count {
    font-size: 90px;
  }

  .sheep-timer {
    font-size: 18px;
  }

  .lambs {
    scale: 2;
  }

  .born {
    font-size: 16px;
  }
}

.falling-fruits {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.falling-fruits div {
  font-size: 10rem;
  position: absolute;
  top: -20%;
  width: 10px;
  height: 10px;
  animation: fallingAnimation 10s linear infinite;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes fallingAnimation {
  0% {
    /* opacity: 0.5; */
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    /* opacity: 1; */
    transform: translate(-50%, 200vh) rotate(200deg);
  }
}

@media (max-width: 500px) {
  .falling-fruits div {
    font-size: 100px;
  }
}
