@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* FIXME: 구글폰트에서 fontWeight 100~900 전체 링크 받아와서 font-face로 자유롭게 쓰는 방법 알아내기. */
@font-face {
  font-family: "GothicA1-Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "GothicA1";
  src: url("/GothicA1-ExtraLight.ttf");
  font-style: normal;
  font-weight: 300;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "GothicA1";
  src: url("/GothicA1-Light.ttf");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+AC00-D7A3;
}
/* 
@font-face {
  font-family: "GothicA1";
  src: url("/GothicA1-Regular.ttf");
  font-style: normal;
  font-weight: 500;
  unicode-range: U+AC00-D7A3;
} */

@font-face {
  font-family: "GothicA1";
  src: url("/GothicA1-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "GothicA1";
  src: url("/GothicA1-SemiBold.ttf");
  font-style: normal;
  font-weight: 700;
  unicode-range: U+AC00-D7A3;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
