@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");
/* @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@900&display=swap"); */
@import "@kfonts/neodgm-code";

html {
  margin: 0;
  height: 100%;
  width: 100%;
}
.fruits-container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(45deg, #d0d0d0 25%, transparent 25%),
    linear-gradient(-45deg, #d0d0d0 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #d0d0d0 75%),
    linear-gradient(-45deg, transparent 75%, #d0d0d0 75%);
}

body {
  margin: 0;
  /* background-color: #f4f6f7; */
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #0e1111;
  }
} */

.test30-div-1 {
  overflow: hidden;
  position: fixed;

  width: 100vw;
  height: 98vh;

  /* 상하좌우 정중앙 정렬하기 */
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* font-family: "Nanum Gothic", sans-serif;
  font-family: "Noto Sans KR", sans-serif; */
  font-size: 4.7vw;
  font-weight: 900;
}

.test30-div-2 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: pointer;

  /* -webkit-transform: rotate(90deg); */
}

.test30-div-3 {
  display: none;
}

.test30-test {
  display: none;
}

@media (max-width: 450px) {
  .test30-div-1 {
    height: 100vh;
  }

  .test30-div-2 {
    /* height: 100vh; */

    /* -webkit-transform: rotate(90deg); */
    font-size: 10vw;
    word-break: keep-all;
  }
}

@media (max-width: 1000px) {
  .test30-test {
    display: flex;
    flex-direction: column;
    /* font-weight: 800; */
  }

  .test30-div-1 {
    text-align: center;
  }

  .test30-div-2 {
    display: none;
  }

  .test30-div-3 {
    display: flex;
    /* flex-direction: column; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;

    /* font-size: 11vw; */
    /* word-break: keep-all; */
    /* line-height: 200%; */
  }

  .test30-div-3-1 {
    display: inline-block;
    /* height: 22vh; */
    font-size: 8vw;
  }

  .test30-div-3-2 {
    display: inline-block;
    /* height: 22vh; */
    font-size: 8vw;
    margin-left: 1.8vw;
  }

  .test30-div-3-3 {
    display: inline-block;
    height: 15vh;
    font-size: 8vw;
    margin-top: 3vh;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
  }
}

@media (max-width: 500px) {
  body {
    position: fixed;
    overflow: hidden;
  }

  .test30-div-1 {
    height: 92%;
    width: 100%;
  }

  /* .test30-div-1::-webkit-scrollbar {
    display: none;
  } */

  .test30-div-3-3 {
    height: 0;
  }
}

.sheep-div-1 {
  width: 100%;
  height: 100%;
  background-color: #0e1111;
  /* #000080; */
  display: flex;
  /* border: 5px solid #ffffff; */
  box-shadow: 0 0 0 4px #cbcbcb inset;
}
.clone {
  color: #ffffff;
  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
  margin-top: 6px;
  margin-left: 6px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sheep-top-border {
  position: absolute;
  top: 30px;
  height: 4px;
  width: 100%;
  background-color: #cbcbcb;
}

.clone-box {
  position: absolute;
  right: 35px;
  top: 8px;

  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
  text-align: center;
  display: inline-block;
  background-color: #cbcbcb;
  box-shadow: -1px -1px 0px 1px white, 1px 1px 0px 1px #97958f;
  color: black;
  margin-left: 20px;
  padding-top: 3px;
  width: 20px;
  height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.clone-box2 {
  position: absolute;
  right: 9px;
  top: 8px;
  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
  text-align: center;
  display: inline-block;
  background-color: #cbcbcb;
  box-shadow: -1px -1px 0px 1px white, 1px 1px 0px 1px #97958f;
  color: black;
  margin-left: 20px;
  padding-top: 2px;
  padding-bottom: 1px;
  width: 20px;
  height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sheep-time-div {
  font-size: 22px;
  color: #ffff00;
  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
}

.sheep-point {
  color: #00ff00;
}

.sheep-container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-weight: 450;
  height: 100%;
  opacity: 0.85;
  position: absolute;
  text-align: center;
  top: 13vh;
  width: 100%;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 450px) {
  .sheep-container {
    top: 5vh;
  }
}

.sheep-top {
  background-image: linear-gradient(to right, #112366, lightblue);
  margin: 4px 4px 0 4px;
  /* box-shadow: 0 0 0 5px #ffffff inset; */
  width: 100%;
  height: 30px;
}

.sheep-count {
  font-size: 100px;
  padding-right: 20px;
}

.born {
  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
  margin-bottom: 0;
  margin-top: 10px;
  height: 20px;
  font-size: 20px;
}

.born-button {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 20px;
}

.sheep-all-button:hover {
  background-color: #0e1111;
  transition: 0.3s;
  color: #ffffff;
}

.sheep-timer {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}

.sheep-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sheep-all-button {
  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
  /* border: solid 1px #008080; */
  background-color: #e9e8df;
  box-shadow: 1px 1px 0px 1px #97958f;
  padding: 1px 5px;
  font-size: 19px;
  width: 40px;
  height: 25px;
  margin-left: 5px;
  color: #0e1111;
}

.sheep-box {
  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0e1111;
  background-color: #e9e8df;
  width: 290px;
  height: 120px;
  /* border-radius: 10px; */
  box-shadow: -2px -2px 0px 2px white, 1px 1px 0px 2px #97958f;
  /* box-shadow: 3px 3px #97958f, -1em 0 0.4em olive; */
  font-size: 16px;
  margin-top: 10px;
}

.sheep-plan {
  text-align: left;
  margin-left: 50px;
}

.sheep-rest {
  margin-top: 5px;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 7px;
}

.sheep-pomodoro {
  margin-top: 5px;
  text-align: left;
  margin-left: 50px;
}

.pomodoro-box-container {
  display: flex;
  justify-content: space-around;
}

.pomodoro-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  width: 300px;
  /* height: 45vh; */
  /* opacity: 35%; */
  /* background-color: #0e1111; */
}

.sheep-image {
  margin: 0 5px;
}

@media (prefers-color-scheme: dark) {
  /* .born,
  .sheep-container {
    color: #f4f6f7;
  } */
}

@media (max-width: 500px) {
  .sheep-count {
    font-size: 90px;
  }

  /* .sheep-timer {
    font-size: 18px;
  } */

  .lambs {
    scale: 2;
  }

  /* .born {
    font-size: 16px;
  } */
}

.falling-fruits {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.falling-fruits div {
  font-size: 10rem;
  position: absolute;
  top: -20%;
  width: 10px;
  height: 10px;
  animation: fallingAnimation 10s linear infinite;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes fallingAnimation {
  0% {
    /* opacity: 0.5; */
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    /* opacity: 1; */
    transform: translate(-50%, 200vh) rotate(200deg);
  }
}

@media (max-width: 500px) {
  .falling-fruits div {
    font-size: 100px;
  }
}
