.sentence-container {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 5rem;
  font-weight: 900;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sentence {
  cursor: pointer;
}

.word1,
.word2,
.word3 {
  display: inline-block;
  margin-right: 0.2em;
}

.capture-icon {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 2000;
  cursor: pointer;
  color: #fff;
}

@keyframes fadeInOut {
  0% {
    transform: translateY(0%);
  }

  30% {
    transform: translateY(150%);
  }

  80% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(-200%);
  }
}

.download-container {
  display: flex;
  position: fixed;
  top: -30px;
  justify-content: center;
  z-index: 3000;
  width: 100%;
}

.download-animation {
  animation: fadeInOut 2.5s linear;
  animation-fill-mode: forwards;
}

.download-text {
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 10px;
  width: fit-content;
  height: 20px;
}

@media (max-width: 510px) {
  @keyframes fadeInOut {
    0% {
      transform: translateY(0%);
    }

    30% {
      transform: translateY(200%);
    }

    80% {
      transform: translateY(200%);
    }

    100% {
      transform: translateY(-200%);
    }
  }

  .sentence-container {
    width: 100%;
    height: 92%;
    font-size: 2rem;
  }

  .download-text {
    padding: 4px 7px;
    height: 15px;
    font-size: 0.8rem;
  }

  .capture-icon {
    font-size: 1rem;
  }
}
