/* Fonts */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Thin.ttf");
  font-style: normal;
  font-weight: 200;
  unicode-range: U+0041-005A, U+0061-007A, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Light.ttf");
  font-style: normal;
  font-weight: 300;
  unicode-range: U+0041-005A, U+0061-007A, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0041-005A, U+0061-007A, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.ttf");
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0041-005A, U+0061-007A, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Black.ttf");
  font-style: normal;
  font-weight: 600;
  unicode-range: U+0041-005A, U+0061-007A, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
/* Global Resets */
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Body Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Pretendard Variable", Pretendard;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background-color);
}

/* Selection Styles */
p::selection,
div::selection,
span::selection,
a::selection {
  color: #242424;
  background-color: var(--text-color);
}

/* Input Styles */
input:focus {
  outline: 1px solid #006bde;
}

input {
  font-family: "Lato", "Pretendard Variable", Pretendard;
  color: var(--text-color);
  caret-color: #fff;
  border: none;
}

input[type="search"]::-webkit-search-cancel-button {
  background: #000;
  cursor: pointer;
}

textarea {
  font-family: "Lato", "Pretendard Variable", Pretendard;
}

/* Root Variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #000;
  --text-color: #ababab;
  --text-hover-color: #949494;
  --site-max-width: 1600px;
  --border-color: #3d3d3d;
  --input-background-color: #333;
}

/* Link Styles */
a {
  color: var(--text-color);
  text-decoration: none;
}

/* Headings and Lists */
h1,
h2,
h3 {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
}

/* Button Styles */
button {
  padding: 0;
  margin: 0;
  text-align: unset;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  color: var(--text-color);
  box-sizing: unset;
  font-size: inherit;
  font-family: inherit;
}

@media (max-width: 525px) {
  h2 {
    text-align: center;
  }
}
