@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-ExtraLight.ttf");
  font-style: normal;
  font-weight: 300;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-Light.ttf");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-Regular.ttf");
  font-style: normal;
  font-weight: 600;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-SemiBold.ttf");
  font-style: normal;
  font-weight: 700;
  unicode-range: U+AC00-D7A3;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

p::selection,
div::selection,
span::selection,
a::selection {
  color: #242424;
  background-color: #cfcfcf;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="search"],
input[type="tel"],
input[type="email"],
html input[type="button"],
input[type="reset"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  outline: 0;
}
