.search-tag-display-item {
  /* display: inline; */
  display: flex;
  align-items: center;
  color: var(--text-color);
  /* line-height: 250%; */
  font-size: 0.92rem;
  width: fit-content;
  height: 20px;
  /* border: 1px solid var(--border-color); */
  /* background-color: var(--border-color); */
  background-color: #ffffff1a;
  /* border-radius: 20px; */
  padding: 7px 10px;
  margin: 3px;
  word-break: normal;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  color: var(--text-color);
  font-size: 1.2rem;
  width: 100%;
  max-width: 1280px;
}

@keyframes animateBg {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.desktop-hamburger-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 23px;
  width: 24px;
  margin-right: 2px;
  margin-top: 4px;
  z-index: 100;
  cursor: pointer;
}

.desktop-genre-category {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 44.5px;
  left: -26px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #000;
  width: 150px;
  font-size: 1.1rem;
  padding: 5px 20px 20px 30px;
  z-index: 1;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  cursor: default;
}

.desktop-introduction-category {
  position: absolute;

  display: flex;
  flex-direction: column;
  top: 44.5px;
  left: 170px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #000;
  width: 150px;
  font-size: 1.1rem;
  padding: 5px 20px 20px 30px;
  z-index: 1;
  border-bottom: 1px solid var(--border-color);
  cursor: default;
}

.hamburger-item {
  z-index: 3;
  padding: 7px 0;
  cursor: pointer;
}

.hamburger-item:hover {
  text-decoration: underline;
}

.hamburger-item-title {
  z-index: 3;
  padding: 7px 0;
  font-weight: 600;
  margin-bottom: 10px;
}

.hamburger-item-title:hover {
  text-decoration: none;
}

.hamburger-icon {
  width: 20px;
  height: 1px;
  margin-top: 3px;
  background-color: var(--text-color);
  box-shadow: 0 7px 0 var(--text-color), 0 14px 0 var(--text-color);
}

.close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 100;
  padding-left: 4px;
  padding-bottom: 4px;
}

.snowfall-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
  z-index: -1;
  /* background-image: linear-gradient(90deg, #000, #242424, #1c1c1c, #242424, #000);
  background-size: 2000% 100%;
  animation: animateBg 20s linear infinite; */
}

.loading-background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  background-color: var(--background-color);
}

.loading-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.category-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color);

  border-bottom: 1px solid var(--border-color);
  width: 100%;
  height: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* top-menu-container와 영역 겹쳐서 지정 */
  z-index: 10000;
  /* border-right: 1px solid black; */
}

.desktop-category {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding: 0 15px;
  box-sizing: border-box;
}

.category {
  cursor: pointer;
  display: flex;
  padding: 10px 20px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  text-decoration: none;
  color: var(--text-color);
  align-items: center;
}

.sup {
  line-height: 0;
  margin-left: 3px;
  font-size: 0.8rem;
  vertical-align: top;
  top: 20px;
}

.content-container {
  margin-top: 70px;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}

.album-container {
  display: flex;
  flex-direction: row;
  padding: 50px 0;
  margin: 0 15px;
}

.album-panel-metadata-container {
  display: flex;
  width: 100%;
  align-items: center;
  line-height: 210%;
  word-break: normal;
  text-align: justify;
  width: 100%;
  max-width: 1050px;
}

.post-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 210%;
  word-break: normal;
  text-align: justify;
  width: 100%;
  max-width: 1050px;
}

.text-wide {
  column-span: all;
}

.line-break {
  margin-bottom: 50px;
}

.divider {
  border-bottom: 1px solid var(--border-color);
}

.album-title {
  font-weight: 500;
}

.top-menu-container {
  display: flex;
  position: fixed;
  top: 0;
  right: 15px;
  z-index: 9998;
}

.top-search-container {
  position: absolute;
  display: flex;
  align-items: center;
  height: 49.5px;
  margin-right: 5px;
  right: 26px;
  top: -13px;
}

.top-search-input {
  font-family: "Lato", "Noto Sans KR", sans-serif;
  font-size: 1rem;
  width: 200px;
  height: 30px;
  background-color: #272727;
  box-shadow: none;
  border: 1px solid #454545;
  padding: 0 10px;
  margin-top: 1px;
  color: var(--text-color);
}

.top-search-button {
  width: 50px;
  height: 30px;
  background-color: #000;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-magnifying-glass {
  position: relative;
  width: 20px;
  height: 24.5px;
  background-image: url(/music/magnifying-glass.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.sort {
  height: 30px;
  margin: 2px;
  padding: 5px 10px;
}

.button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.admin-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.admin-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  border: 1px solid var(--text-color);
}

.button:hover {
  color: #000;
  font-weight: bold;
  border-radius: 0;
  background-color: #fff;
}

.album-information-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 100px;
  line-height: 200%;
}

.album-metadata {
  margin-top: 10px;
  font-weight: 500;
  line-height: 160%;
}

.album-information {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
}

.album-art {
  display: flex;
  position: relative;
  width: 300px;
  height: 300px;
}

.artist-page-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 45px;
  margin-bottom: 30px;
}

.artist-page-image {
  display: flex;
  position: relative;
  width: 300px;
  height: 300px;
}

.link {
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
}

.link:hover {
  opacity: 70%;
}

.link-icon {
  position: absolute;
  margin: 6.5px 0 0 5px;
  height: 18px;
}

.information {
  display: flex;
  border-bottom: 1px solid var(--text-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 3px;
}

.input {
  /* FIXME: vertical align 방법 알아내기. 지금은 height, padding으로 임시로 맞춰놓음. */
  width: 100%;
  margin: 15px 0 50px 0;
  background-color: #fff;
  font-size: 1.2rem;
  font-family: "Lato", "Noto Sans KR", sans-serif;
}

.input,
.date-input,
.select {
  background-color: #333;
  color: var(--text-color);
  box-shadow: none;
  border: 1px solid var(--text-color);
  height: 40px;
  /* box-sizing: padding으로 인한 width 증가 현상 억제 */
  box-sizing: border-box;
  padding: 30px 15px;
}

.input-text {
  line-height: 180%;
  height: 400px;
}

.date-input {
  width: 250px;
  font-size: 1.2rem;
  font-family: "Lato", "Noto Sans KR", sans-serif;
  margin-top: 15px;
  padding-right: 20px;
}

.select-container {
  width: calc(100% + 20px);
  height: 50px;
  margin: 15px 0 50px 0;
}

.calendar-input {
  width: calc(100% + 20px);
  height: 50px;
  margin: 15px 0 0 0;
  text-align: left;
  font-family: "Lato", "Noto Sans KR", sans-serif;
  font-size: 1.2rem;
}

.select {
  font-size: 1.2rem;
  padding: 0 15px;
  width: auto;
  height: 100%;
  height: 60px;
}

.submit {
  padding: 10px 30px;
  border-color: var(--text-color);
}

.title {
  text-align: center;
  margin-bottom: 100px;
  font-style: italic;
}

.paragraph-container {
  position: relative;
  width: 100%;
}

.paragraph {
  margin: 0;
}

.post-divider {
  height: 1px;
  width: 100%;

  background-color: var(--border-color);
  margin: 50px 0 50px 0;
}

.blur-end {
  word-break: normal;
  text-align: justify;
  --lines-count: 3;
  --blur-height: 40px;
  --blur-length: 5px;
  --fade-length: 5;
  --fade-direction: 270deg;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines-count);

  mask: linear-gradient(0deg, transparent, transparent var(--blur-height), #000 var(--blur-height)),
    linear-gradient(
      270deg,
      transparent,
      transparent calc((var(--blur-length) * var(--fade-length)) + var(--blur-height)),
      #000 calc((var(--blur-length) * var(--fade-length)) + (var(--blur-height) * 2))
    );
}

.more-button {
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: 450;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--text-color);
  z-index: 200;
}

.paragraph-blank {
  margin-bottom: 2rem;
}

.paragraph:first-child {
  text-indent: 0;
}

.upload-button {
  border: none;
  width: fit-content;
  height: 41px;
  padding: 5px;
  margin-right: 5px;
}

.close-button {
  width: fit-content;
  padding: 0 5px;
  margin: 10px;
  border: none;
  font-size: 1.5rem;
}

.close-button:hover {
  opacity: 70%;
}

.sort-criteria-container {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
}

.sort-criteria {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px 10px 10px 10px;
  background-color: #fff;
  color: #000;
  width: fit-content;
}

.criteria {
  margin-bottom: 5px;
}

.criteria:last-child {
  margin-bottom: 0;
}

.criteria:hover {
  text-decoration: underline;
}

.mobile-title,
.mobile-category {
  display: none;
}

.mobile-bottom-container {
  display: none;
}

.hamburger-container {
  display: none;
}

.upload-item-title {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.search-album-modal-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: #fff;
  margin-top: -50px;
  border-radius: 6px;
  padding: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.search-album-modal {
  display: flex;
  color: #000;
  cursor: pointer;
  padding: 5px;
}

.search-album-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  font-size: 1.1rem;
  font-weight: 500;
}

.search-album-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-album-image {
  width: 60px;
  height: 60px;
}

.search-result-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px 0 40px 0;
  font-style: italic;
}

.search-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px 0 0 0;
}

.search-tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 850px;
}

.search-page-input-container {
  position: relative;
  width: 480px;
  height: 60px;
}

.search-page-input {
  width: 100%;
  height: 100%;

  margin: 0 0 0 8px;
  font-family: "Lato", "Noto Sans KR", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;

  background-color: var(--input-background-color);
  box-shadow: none;
  border: 1px solid var(--text-color);
  padding: 0 40px 0 50px;
  margin: 1px 0 0 0;
  color: var(--text-color);
  box-sizing: border-box;
}

.search-page-input-icon {
  position: absolute;
  top: calc(50% + 1px);
  left: 30px;
  transform: translate(-50%, -50%);
}

.page-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.page {
  cursor: pointer;
  color: #949494;
  padding: 5px 18px;
  font-weight: 500;
}

.post-date {
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
}

.grid-div {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.grid-item-container {
  display: flex;
  flex-direction: column;
  margin: -1px 0 0 -1px;
  /* FIXME: 계산 제대로 해서 수정하기 */
  --grid-item-width: calc(100% / 8);
  width: var(--grid-item-width);
  padding: 15px;
  box-sizing: border-box;
}

/* .grid-album-container {
  width: 100%;
  box-sizing: border-box;
  z-index: 500;
} */

.grid-album-image-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.grid-album-image {
  aspect-ratio: 1 / 1;
  width: 100%;
  cursor: pointer;
  background-color: var(--border-color);
}

.grid-album-image::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.post-album-image {
  box-shadow: 0 10px 20px 0 #0000005e;
}

.grid-album-title {
  font-size: 0.95rem;
  font-weight: 500;
  /* FIXME: 향후에 바꿀 수 있음 */
  z-index: 100;
  text-decoration: none;
}

.grid-album-title-masking {
  cursor: pointer;
}

.grid-album-title-masking:hover {
  opacity: 70%;
}

.post-title {
  margin-bottom: 50px;
}

.post-title-album {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.black-masking {
  background-color: #000;
  color: var(--text-color);
  /* padding: 3px 0; */
  line-height: 155%;
  text-indent: 0;
  font-weight: 400;
  z-index: 2;
}

.category-meta-title {
  font-weight: 600;
  font-size: 2.2rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);

  text-align: start;
  word-break: break-all;

  width: 100%;
  height: 42px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

.artist-page-title {
  font-weight: 600;
  font-size: 2.2rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

.category-meta {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 5px;
}

.category-meta-image-container {
  width: 30px;
  height: 30px;
  inset-inline-start: 0px;
  user-select: auto;
  margin-right: 10px;
  cursor: pointer;
}

.category-meta-image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
}

.last-updated {
  margin: 0 0 30px 0;
  padding-top: 10px;
}

.loading-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: -webkit-fill-available;
  height: 100%;
  z-index: 10000;
  background-color: transparent;
}

.loading-circle {
  position: fixed;
  top: 48%;
  left: calc(50% + 125px);
  width: 40px;
  height: 40px;
  margin: -25px 0 0 -25px;

  border: 10px solid #e3e3e3;
  border-bottom: 10px solid black;
  border-radius: 50%;

  animation: load 1.5s linear infinite;

  z-index: 10000;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.star-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 2px;
}

.star-color {
  display: absolute;
  z-index: 2;
  width: 100px;
  height: 20px;
}

.star-mono {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 20px;
}

.upload-container {
  max-width: 880px;
  width: 100%;
}

.upload-item-container {
  border-bottom: 1px dashed var(--border-color);
  margin: 0 0 30px 0;
}

.post-album-title {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.album-tag-container {
  display: flex;
  flex-wrap: wrap;
  margin: 13px 0 0 0;
}

.tag-item {
  /* display: inline; */
  display: flex;
  align-items: center;
  color: var(--text-color);
  line-height: 250%;
  font-size: 0.95rem;
  width: fit-content;
  height: 20px;
  /* border: 1px solid var(--border-color); */
  /* background-color: var(--border-color); */
  background-color: #ffffff1a;
  /* border-radius: 20px; */
  padding: 7px 11px;
  margin: 0 3px 3px 0;
  word-break: normal;

  cursor: pointer;
}

.tag-display-container {
  display: none;
}

/* TODO: 미디어쿼리로 앨범 개수 변경될 때 크기 변화 최대한 없게 맞추기 */
@media (max-width: 1260px) {
  .grid-item-container {
    --grid-item-width: calc(100% / 7);
  }

  .category-meta-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 1110px) {
  .grid-item-container {
    --grid-item-width: calc(100% / 6);
  }
}

@media (max-width: 1280px) {
  .album-container {
    margin: 0 30px;
  }
}

@media (max-width: 900px) {
  .search-input-container {
    margin: 0 30px;
  }

  .search-page-input-container {
    position: relative;
    max-width: 480px;
    width: 100%;
    height: 60px;
  }

  .search-page-input {
    width: 100%;
    height: 100%;

    margin: 0 0 0 8px;
    font-family: "Lato", "Noto Sans KR", sans-serif;
    font-size: 1.3rem;
    font-weight: 300;

    background-color: var(--input-background-color);
    box-shadow: none;
    border: 1px solid var(--text-color);
    padding: 0 40px 0 50px;
    margin: 1px 0 0 0;
    color: var(--text-color);
    box-sizing: border-box;
    border-radius: 0;
  }

  .search-page-input-icon {
    position: absolute;
    top: calc(50% + 1px);
    left: 30px;
    transform: translate(-50%, -50%);
  }

  .search-tag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 850px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .album-container {
    width: 100%;
    align-items: center;
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
  }

  .album-panel-metadata-container {
    height: fit-content;
    padding: 0;
    box-sizing: border-box;
    line-height: 200%;
  }

  .post-content-container {
    word-break: keep-all;
    text-align: left;
  }

  .album-metadata {
    max-width: 400px;
  }

  .album-information-container {
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin: 0 0 20px 0;
  }

  .album-information {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
  }

  .post-album-title {
    justify-content: center;
  }

  .category-meta {
    justify-content: center;
  }
}

@media (max-width: 525px) {
  .post-date-container {
    font-size: 1.05rem;
  }

  .post-date {
    font-size: 1.05rem;
  }

  .link-icon {
    position: absolute;
    margin-left: 4px;
    margin-top: 6px;
    height: 16px;
  }

  .post-label {
    display: none;
  }

  .search-tag-container {
    display: none;
  }

  .search-result-container {
    padding: 15px 0 30px 0;
    font-size: 1.05rem;
  }

  .search-page-input {
    width: 100%;
    height: 40px;
  }

  .desktop-genre-category {
    padding: 5px 20px 20px 7px;
    width: 125px;
    left: -16px;
    top: 31.5px;
    font-size: 1.05rem;
  }

  .category {
    font-size: 1.05rem;
  }

  .tag-display-container {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */

    width: 100%;
    padding: 11px 15px;
    border-bottom: 1px solid var(--border-color);
    box-sizing: border-box;

    /* 가로 스크롤 */
    /* overflow-x: scroll; */
    overflow: hidden;
    white-space: nowrap;
  }

  .tag-display-item {
    /* display: inline; */
    display: flex;
    align-items: center;
    color: var(--text-color);
    /* line-height: 250%; */
    font-size: 0.92rem;
    width: fit-content;
    height: 20px;
    /* border: 1px solid var(--border-color); */
    /* background-color: var(--border-color); */
    background-color: #ffffff1a;
    /* border-radius: 20px; */
    padding: 7px 10px;
    margin: 3px;
    word-break: normal;
    cursor: pointer;
  }

  .arrow-down-container {
    display: flex;
    position: absolute;
    top: 12px;
    right: 0;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    background-color: black;

    padding-right: 6px;
  }

  .arrow-down {
    width: auto;
  }

  .search-page-input-icon {
    top: calc(50% - 4px);
    left: 29px;
    transform: translate(-50%, -50%);
  }

  .search-page-input {
    height: 50px;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .search-input-container {
    padding: 50px 0 0 0;
    margin: 0 15px;
  }

  .category-meta-title {
    font-size: 2.2rem;
    height: fit-content;
  }

  .post-album-title {
    padding-bottom: 0;
  }

  .album-container {
    padding: 40px 20px;
  }

  .admin-button-container {
    justify-content: center;
  }

  .star-container {
    display: none;
  }

  .loading-background,
  .loading-text {
    width: 100%;
    font-size: 1.1rem;
  }

  .category-meta-image-container {
    width: 25px;
    height: 25px;
  }

  .category-meta-title {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    padding-bottom: 5px;
    text-align: center;
  }

  .loading {
    height: calc(100vh - 40px);
    padding-bottom: 80px;
    box-sizing: border-box;
    z-index: 1;
  }

  .snowfall-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
    z-index: -1;
    background-image: none;
    background-size: 100%;
    animation: none;
  }

  .container {
    padding-left: 0;
  }

  .link:hover {
    opacity: 1;
  }

  .content-container::-webkit-scrollbar {
    display: none;
  }

  .grid-item-container {
    --width-large: 100vw / 2;
    width: calc(var(--width-large) - 1px);
    z-index: 0;
  }

  .grid-div {
    padding: 5px 0 30px 0;
    margin-top: 0;
  }

  .grid-album-title {
    font-size: 0.95rem;
  }

  /* .grid-album-container:hover {
    opacity: 1;
  } */

  .grid-album-title:hover {
    opacity: 1;
  }

  .container {
    width: 100vw;
    height: 100%;
    flex-direction: column;
    font-size: 1.125rem;
  }

  .category-container {
    height: 45px;
  }

  .category {
    border-bottom: none;
    padding: 10px;
  }

  .category:first-child {
    margin-bottom: 0px;
  }

  .top-menu-container {
    display: none;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid black;
  }

  .content-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-left: none;
    z-index: 1;
    margin-top: 45px;
  }

  .sort-criteria-container {
    display: none;
    width: 50%;
    height: 35px;
  }

  .sort-criteria-container:first-child {
    border-right: 1px solid black;
  }

  .sort-criteria {
    border-left: none;
    border-bottom: none;
  }

  .paragraph-blank {
    margin-bottom: 1.5rem;
  }

  .paragraph-category {
    text-align: justify;
    word-break: normal;
  }

  .album-art {
    width: 280px;
    height: 280px;
  }

  .artist-page-image {
    width: 280px;
    height: 280px;
  }

  /* FIXME: 왜 ellipsis 적용 안 될까? */
  .information {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mobile-title,
  .mobile-category {
    display: flex;
    font-size: 1.05rem;
    width: 25%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .mobile-title {
    width: fit-content;
    font-weight: 400;
  }

  .hamburger-container {
    display: flex;
    justify-content: center;
    height: 23px;
    width: fit-content;
    margin-right: 15px;
    margin-top: 4px;
    cursor: pointer;
    z-index: 100;
  }

  .hamburger-item {
    z-index: 3;
  }

  .hamburger-icon {
    width: 20px;
    height: 1px;
    margin-top: 3px;
    background-color: var(--text-color);
    box-shadow: 0 7px 0 var(--text-color), 0 14px 0 var(--text-color);
  }

  .close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 100;
    padding-left: 4px;
    padding-bottom: 4px;
  }

  .mobile-bottom-container {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    width: 100%;
    height: 33px;
    border-top: 1px solid black;
    background-color: #fff;
  }

  .mobile-sort-criteria-container {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  .mobile-sort-criteria-left {
    position: absolute;
    width: 50%;
    height: fit-content;
    left: 0;
    bottom: 33px;
    border-top: 1px solid black;
    background-color: #fff;
  }

  .mobile-sort-criteria-right {
    position: absolute;
    width: 50%;
    height: fit-content;
    right: 0;
    bottom: 33px;
    border-top: 1px solid black;
    background-color: #fff;
  }

  .mobile-criteria {
    text-align: center;
    margin-bottom: 10px;
  }

  .mobile-criteria:first-child {
    margin-top: 10px;
  }

  .mobile-criteria:last-child {
    margin-bottom: 5px;
  }

  .hamburger-category {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #000;
    width: 150px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 32px;
    right: 0;
    height: fit-content;
    background-color: #000;
    width: 120px;
    font-size: 1rem;
    padding-top: 7px;
    padding-bottom: 12px;
    z-index: 1;
  }

  .close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 100;
    margin-left: 4px;
    margin-bottom: 6px;
  }

  .hamburger-item {
    padding: 6px 18px;
  }

  .page-container {
    margin-top: 20px;
  }

  .blur-end {
    --lines-count: 3;
    --fade-length: 5;
    --blur-height: 40px;
    --blur-length: 5px;
  }

  .more-button {
    font-size: 0.9rem;
    font-weight: 600;
    bottom: 0.5px;
    margin-right: 15px;
  }

  .divider {
    margin: 0 10px;
  }

  .upload-container {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .select-container {
    height: 30px;
    padding: 0 8px;
    box-sizing: border-box;
  }

  .select {
    font-size: 1.05rem;
  }

  .input {
    height: 30px;
    padding: 0;
    font-size: 1.05rem;
    line-height: 180%;
  }

  .input-text {
    height: 180px;
  }

  .input-link {
    height: 60px;
  }

  .calendar-input {
    height: 30px;
    width: 100%;
  }

  .album-metadata {
    z-index: 1;
    width: 100%;
    font-size: 1.05rem;
  }

  .artist-page-image-container {
    display: flex;
    margin-top: 70px;
    margin-bottom: 0;
  }

  .artist-page-image {
    width: 130px;
    height: 130px;
  }

  .grid-album-image-container {
    width: 100%;
  }

  .grid-div {
    justify-content: space-evenly;
  }

  .grid-item-container {
    --grid-item-width: calc(100vw / 2 - 30px);
    width: var(--grid-item-width);
    margin: 17px 0 0 0;
    padding: 0;
  }
}
