@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-ExtraLight.ttf");
  font-style: normal;
  font-weight: 300;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-Light.ttf");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-Regular.ttf");
  font-style: normal;
  font-weight: 500;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-Medium.ttf");
  font-style: normal;
  font-weight: 600;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-SemiBold.ttf");
  font-style: normal;
  font-weight: 700;
  unicode-range: U+AC00-D7A3;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Montserrat", "Pretendard";
  font-weight: 400;
  background-color: #303030;
  color: #fff;
  font-size: 0.95rem;
}

.category-container {
  width: 250px;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* top-menu-container와 영역 겹쳐서 지정 */
  z-index: 10000;
  background-color: #303030;
  border-right: 1px solid #000;
}

.category {
  cursor: pointer;
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid #000000;
}

.category:hover {
  color: #949494;
  border-radius: 0px;
}

.sup {
  line-height: 0;
  margin-left: 3px;
  font-size: 0.8rem;
  vertical-align: top;
  top: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - 250px);
  height: 100%;
  overflow: scroll;
}

.content-container::-webkit-scrollbar {
  width: 8px;
  height: 0;
}

.content-container::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgb(196, 198, 200);
}

.content-container::-webkit-scrollbar-track-piece {
  background: rgb(233, 236, 239);
}

/* .content-container::-webkit-scrollbar */
.category-container::-webkit-scrollbar {
  display: none;
}

.album-container {
  width: 80%;
  min-width: 950px;
  display: flex;
  flex-direction: column;
  /* padding: 80px 120px; */
  padding: 80px 100px 80px 140px;
}

.text-container {
  line-height: 200%;
  word-break: keep-all;
}

.p::selection {
  color: #000000;
  backfound-color: #ffffff;
}

.line-break {
  margin-bottom: 50px;
}

.divider {
  border-bottom: 1px solid #000000;
}

.album-title {
  font-weight: 500;
}

.top-menu-container {
  display: flex;
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 100;
}

.sort {
  height: 30px;
  margin: 2px;
  padding: 5px 10px;
}

.button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 1px #000 inset;
}

.admin-button-container {
  display: flex;
  margin-top: 20px;
}

.admin-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 100px;
  margin-right: 10px;
}

.button:hover,
.admin-button:hover {
  color: #000000;
  font-weight: bold;
  border-radius: 0;
  background-color: #ffffff;
}

.album-information-container {
  display: flex;
  flex-direction: row;
  height: 300px;
  margin-bottom: 50px;
  line-height: 200%;
}

.album-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
}

.album-art {
  display: flex;
  position: relative;
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.5);
}

.album-art:hover {
  -webkit-box-shadow: 0 8px 40px rgba(0, 0, 0, 1.5);
}

.link {
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
}

.link:hover {
  opacity: 70%;
}

.information {
  display: flex;
  border-bottom: 1px solid #000000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 3px;
}

.input {
  /* FIXME: vertical align 방법 알아내기. 지금은 height, padding으로 임시로 맞춰놓음. */
  width: 100%;
  height: 30px;
  padding: 10px;
  margin: 15px 0 50px 0;
  background-color: #ffffff;
  font-family: "Montserrat", "GothicA1-Light";
  font-size: 1.5rem;
}

.input-text {
  color: #000000;
  line-height: 180%;
  height: 400px;
}

.select-container {
  width: calc(100% + 20px);
  height: 50px;
  margin: 15px 0 50px 0;
}

.select {
  font-family: "Montserrat", "GothicA1-Light";
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
}

.submit {
  padding: 10px 30px;
}

.title {
  text-align: center;
  margin-bottom: 100px;
}

.paragraph-container {
  position: relative;
}

.paragraph {
  text-indent: 10%;
  margin: 0;
}

.blur-end {
  /* 마스킹 줄 수  */
  --lines: 1;
  /* 마스킹 높이 */
  --line-height: 60;
  /* 마스킹 길이 */
  --link-length: 10;
  /* 페이드 길이 */
  --one-ch: 7;
  --fade-direction: 270deg;
  overflow: hidden;
  text-overflow: clip;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines);

  mask: linear-gradient(
      0deg,
      transparent 0,
      transparent calc(var(--line-height) * 1px),
      #000 calc(var(--line-height) * 1px)
    ),
    linear-gradient(
      270deg,
      transparent 0,
      transparent calc((var(--link-length) * var(--one-ch)) * 1px),
      #000 calc((var(--link-length) * var(--one-ch) + var(--line-height) * 2) * 1px)
    );
}

.more-button {
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: 450;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0 12px;
}

.paragraph-blank {
  margin-bottom: 2rem;
}

.paragraph:first-child {
  text-indent: 0;
}

.upload-button {
  border: none;
  width: fit-content;
  height: 41px;
  padding: 5px;
  margin-right: 5px;
}

.post-button {
  width: fit-content;
  padding: 0 5px;
  margin: 10px;
  border: none;
}

.post-button:hover {
  opacity: 70%;
  font-weight: 400;
}

.sort-criteria-container {
  width: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.sort-criteria {
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 5px 10px 10px 10px;
  background-color: #ffffff;
}

.criteria {
  margin-bottom: 5px;
}

.criteria:last-child {
  margin-bottom: 0;
}

.criteria:hover {
  text-decoration: underline;
}

.mobile-title,
.mobile-category {
  display: none;
}

.mobile-bottom-container {
  display: none;
}

.hamburger-category {
  display: none;
}

.loading {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.upload-item-title {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.page {
  cursor: pointer;
  color: #949494;
  padding: 5px 18px;
}

.post-date {
  margin-left: 15px;
  font-size: 1.3rem;
}

.grid-div {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 100%;
}

.grid-item-container {
  display: flex;
  flex-direction: column;
  /* width: calc(100% - 250px); */
  /* border: 1px solid #000; */
  /* background-color: yellow; */
  margin: -1px 0 0 -1px;

  --width-large: (100vw - 250px) / 9;
  width: calc(var(--width-large) - 3px);
}

.grid-album-container {
  width: 100%;
}

.grid-album-container:hover {
  opacity: 70%;
}

.grid-album-image {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 0;
  /* width: 90%;
  height: 90%; */
  cursor: pointer;
}

.grid-album-title {
  font-size: 0.95rem;
  font-weight: 500;
  padding: 0 20px 20px 20px;
  cursor: pointer;
  margin-top: -3.5px;
}

.grid-album-title:hover {
  opacity: 70%;
}

@media (max-width: 1700px) {
  .grid-item-container {
    --width-large: (100vw - 250px) / 8;
    width: calc(var(--width-large) - 3px);
  }
}

@media (max-width: 1550px) {
  .grid-album-image {
    padding: 15px;
  }

  .grid-album-title {
    padding: 0 15px 15px 15px;
  }

  .grid-item-container {
    --width-large: (100vw - 250px) / 7;
    width: calc(var(--width-large) - 3px);
  }
}

@media (max-width: 1200px) {
  .grid-album-image {
    padding: 10px;
  }

  .grid-album-title {
    padding: 0 10px 10px 10px;
  }

  .grid-item-container {
    --width-large: (100vw - 250px) / 6;
    width: calc(var(--width-large) - 3px);
  }
}

@media (max-width: 1050px) {
  .grid-item-container {
    --width-large: (100vw - 250px) / 5;
    width: calc(var(--width-large) - 4px);
  }
}

@media (max-width: 900px) {
  .grid-item-container {
    --width-large: (100vw - 250px) / 4;
    width: calc(var(--width-large) - 4px);
  }
}

@media (max-width: 800px) {
  .grid-album-image {
    padding: 15px;
  }

  .grid-album-title {
    padding: 0 15px 15px 15px;
  }

  .grid-item-container {
    --width-large: (100vw - 250px) / 2;
    width: calc(var(--width-large) - 6px);
  }
}

@media (max-width: 650px) {
  .grid-album-image {
    padding: 20px;
  }

  .grid-album-title {
    padding: 0 20px 20px 20px;
  }

  .grid-item-container {
    --width-large: (100vw - 250px);
    width: calc(var(--width-large) - 6px);
  }
}

@media (max-width: 525px) {
  .album-art:hover {
    -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.5);
  }

  .link:hover {
    opacity: 1;
  }

  .content-container::-webkit-scrollbar {
    display: none;
  }

  .grid-item-container {
    --width-large: 100vw / 2;
    width: calc(var(--width-large) - 1px);
  }

  .grid-div {
    padding-top: 40px;
  }

  .grid-album-title {
    font-size: 0.95rem;
  }

  .grid-album-container:hover {
    opacity: 1;
  }

  .grid-album-title:hover {
    opacity: 1;
  }

  .container {
    height: auto;
    flex-direction: column;
    font-size: 0.95rem;
    font-weight: 450;
    font-family: "Montserrat", "Pretendard";
  }

  .category-container {
    display: flex;
    position: fixed;
    top: 0;
    height: 40px;
    width: calc(100% - 20px);
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-right: none;
  }

  .category {
    border-bottom: none;
    padding: 5px 10px 10px 10px;
  }

  .category:first-child {
    margin-bottom: 0px;
  }

  .top-menu-container {
    display: none;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    border-top: 1px solid #000000;
  }

  .content-container {
    width: 100%;
    overflow: scroll;
    border-left: none;
  }

  .sort-criteria-container {
    display: none;
    width: 50%;
    height: 35px;
  }

  .sort-criteria-container:first-child {
    border-right: 1px solid #000000;
  }

  .sort-criteria {
    border-left: none;
    border-bottom: none;
  }

  .album-container {
    width: 100%;
    min-width: 0;
    padding: 30px 0;
    align-items: center;
  }

  .album-information-container {
    width: 280px;
    flex-direction: column;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .album-information {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
  }

  .text-container {
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
  }

  .paragraph {
    padding: 0 15px;
  }

  .paragraph-blank {
    margin-bottom: 1.5rem;
  }

  .album-art {
    width: 280px;
    height: 280px;
  }

  /* FIXME: 왜 ellipsis 적용 안 될까? */
  .information {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mobile-title,
  .mobile-category {
    font-size: 0.9rem;
    display: flex;
    width: 25%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .mobile-title {
    width: fit-content;
  }

  .desktop-category {
    display: none;
  }

  .hamburger-container {
    display: flex;
    justify-content: center;
    height: 23px;
    width: fit-content;
    margin-right: 2px;
    cursor: pointer;
  }

  .hamburger-icon {
    width: 20px;
    height: 1px;
    margin-top: 3px;
    background-color: #000000;
    box-shadow: 0 7px 0 #000000, 0 14px 0 #000000;
  }

  .close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 250;
    padding-left: 4px;
  }

  .mobile-bottom-container {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    width: 100%;
    height: 33px;
    border-top: 1px solid #000000;
    background-color: #ffffff;
  }

  .mobile-sort-criteria-container {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  .mobile-sort-criteria-left {
    position: absolute;
    width: 50%;
    height: fit-content;
    left: 0;
    bottom: 33px;
    border-top: 1px solid #000000;
    background-color: #ffffff;
  }

  .mobile-sort-criteria-right {
    position: absolute;
    width: 50%;
    height: fit-content;
    right: 0;
    bottom: 33px;
    border-top: 1px solid #000000;
    background-color: #ffffff;
  }

  .mobile-criteria {
    text-align: center;
    margin-bottom: 10px;
  }

  .mobile-criteria:first-child {
    margin-top: 10px;
  }

  .mobile-criteria:last-child {
    margin-bottom: 5px;
  }

  .hamburger-category {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30px;
    right: 0;
    height: fit-content;
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    width: 120px;
    font-size: 0.9rem;
    padding-top: 7px;
    padding-bottom: 10px;
  }

  .hamburger-content {
    text-align: right;
    padding: 5px 16px;
  }

  .loading {
    height: 80vh;
  }

  .page-container {
    margin-top: 20px;
  }

  .blur-end {
    --lines: 1;
    --line-height: 30;
    --link-length: 8;
    --one-ch: 8;
  }

  .more-button {
    font-size: 0.9rem;
    font-weight: 600;
    bottom: 0.5px;
    margin-right: 15px;
  }

  .post-date {
    margin-left: 10px;
    font-size: 0.9rem;
  }

  .divider {
    margin: 0 10px;
  }
}

@media (max-width: 499px) {
  .grid-item-container {
    width: calc(var(--width-large) - 0.5px);
  }
}
