@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@900&family=Open+Sans:wght@300&display=swap");
  font-style: sans-serif;
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "GothicA1-Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2")
    format("woff2");
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.music-main-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", "GothicA1-Light";
  /* font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; */
  font-weight: 400;
  background-color: #000000;
  color: #ffccff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.category-container {
  width: 250px;
  height: 100%;
  overflow: scroll;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - 250px);
  height: 100%;
  overflow: scroll;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.category-container::-webkit-scrollbar,
.content-container::-webkit-scrollbar {
  display: none;
}

.category {
  cursor: pointer;
  width: 210px;
  height: 45px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffccff;
  padding: 10px;
  margin: 20px 10px;
  border-radius: 9000px;
}

.category:hover {
  font-weight: bold;
  color: #000000;
  border: 1px solid #ffccff;
  background-color: #ffccff;
  border-radius: 0px;
}

.album-container {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  padding: 20px 50px;
  margin-top: 5px;
}

.text-container {
  line-height: 200%;
  word-break: keep-all;
}

.line-break {
  margin-bottom: 50px;
}

.divider {
  border-bottom: 1px solid #ffccff;
  padding: 20px;
}

.album-title {
  font-weight: 900;
}

.button-sort {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 45px;
  font-size: 25px;
  border: 1px solid #ffccff;
  border-radius: 10000px;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0 5px;
}

.music-delete-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 40px;
  font-size: 25px;
  border: 1px solid #ffccff;
  border-radius: 10000px;
  padding: 0 5px;
  margin: 10px 15px 0 0;
}

.button-sort:hover,
.music-delete-menu:hover {
  color: #000000;
  font-weight: bold;
  border-radius: 0;
  background-color: #ffccff;
}

.music-bottom-title {
  position: absolute;
  right: 20px;
  bottom: 20px;
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    flex-grow: 1; */
  font-size: 60px;
  /* font-family: "GabiaHeuldot"; */
  /* padding: 20px; */
  /* border: 1px solid #000000;
    border-radius: 2000px; */
}

.album-information-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.album-information {
  margin: 30px;
}

.link {
  cursor: pointer;
  color: #ffccff;
  text-decoration: none;
}

.play-applemusic {
  margin-top: 10px;
  border-top: 1px solid #ffccff;
  border-bottom: 1px solid #ffccff;
  cursor: pointer;
  width: fit-content;
  padding: 0 10px 0 0;
}

.music-post-input {
  height: 50px;
  width: 100%;
  font-size: 30px;
  margin-top: 15px;
  background-color: #ffccff;
}

.music-post-input-text {
  color: #000000;
  line-height: 180%;
  height: 350px;
  font-family: "Pretendard Variable", "Pretendard", "-apple-system", "BlinkMacSystemFont", system-ui,
    "Roboto", "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.music-post-submit {
  margin: 50px 0 10px 0;
  border: 1px solid #ffccff;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 1000px;
  background-color: #000000;
  z-index: 1000;
  cursor: pointer;
}

.music-post-submit:hover {
  color: #000000;
  font-weight: bold;
  border-radius: 0;
  background-color: #ffccff;
}
