.container {
  position: relative;
  background-color: var(--background-color);
  width: 1280px;
  height: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  width: 100%;
  max-width: 1280px;
  font-size: 1.15rem;
}

.title {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--text-color);
}

.search-icon {
  position: absolute;
  top: calc(50%);
  right: 15px;
  transform: translate(0, -50%);
  background-image: url(/music/magnifying-glass.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 20px;
  height: 24.5px;
}

.blank-for-hamburger-space {
  width: 20px;
}

@media (max-width: 1300px) {
  .search-icon {
    right: 30px;
  }
}

@media (max-width: 525px) {
  .search-icon {
    right: 15px;
  }

  .container {
    background-color: unset;
  }

  .nav-wrapper {
    padding: 0 15px;
  }

  .category {
    padding: 10px;
  }
}
