.spinning-circles {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  margin: 15px 0 0 0;
  width: 100%;
  height: 100%;
}

.item-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: -1px 0 0 -1px;
  padding: 15px;
  width: var(--grid-item-width);
  --grid-item-width: calc(100% / 8);
}

.album-image-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.album-image {
  position: absolute;
  width: 100%;
  cursor: pointer;
}

.album-image::after {
  display: block;
  content: "";
}

.album-image:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 0.3s;
}

.album-metadata {
  z-index: 100;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
}

.album-item {
  z-index: 2;
  text-indent: 0;
  line-height: 155%;
  color: var(--text-color);
  font-weight: 400;
  /* background-color: var(--background-color); */
}

.album-item:hover {
  opacity: 70%;
}

@media (max-width: 1300px) {
  .item-container {
    --grid-item-width: calc(100% / 7);
  }
}

@media (max-width: 1110px) {
  .item-container {
    --grid-item-width: calc(100% / 6);
  }
}

@media (max-width: 525px) {
  .container {
    justify-content: space-evenly;
    margin: 75px 0 20px 0;
  }

  .item-container {
    margin: 17px 0 0 0;
    padding: 0;
    width: var(--grid-item-width);
    --grid-item-width: calc(100vw / 2 - 30px);
  }

  .album-metadata {
    font-size: 0.95rem;
  }
}
