.admin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-color);
  cursor: pointer;
  width: 70px;
  height: 45px;
}
