@font-face {
  font-family: "omyu_pretty";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  word-break: keep-all;
  font-family: "omyu_pretty";
  font-size: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 85vh;
}

.title {
  display: flex;
  justify-content: center;
  font-family: "HS-Regular";
  font-size: 32px;
  font-weight: 900;
}

.cine-nav-container {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.cine-nav-32-container {
  display: flex;
  flex-direction: column;
  width: 550px;
  font-size: 25px;
}

.content {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.cine-footer-container {
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border: 1px solid #000000;
  cursor: pointer;
  width: 100%;
  height: 45px;
  font-size: 25px;
}

.button:hover {
  background-color: #000000;
  color: #ffffff;
}

.twitter:hover {
  background-color: #00acee;
  color: #ffffff;
}

.kakao:hover {
  background-color: #fef01b;
  color: #000000;
}

.options-button-flex {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-size: 25px;
}

.options-button-flex:hover {
  background-color: #000000;
  color: #ffffff;
}

.cine-challenge-button-flex {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-size: 25px;
}

.short-answer-container {
  margin-top: 20px;
  border: 1px solid #000000;
  padding: 15px;
}

.answer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.short-answer-input {
  width: 42px;
  height: 21px;
  text-align: center;
  font-family: "omyu_pretty";
  font-size: 25px;
}

.progress-container {
  display: flex;
  margin-top: 20px;
  border: 1px solid #000000;
  width: 100%;
  height: 35px;
}

.progress-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.test0-ol {
  margin-left: 20px;
  font-size: "";
}

.test0-span {
  font-size: 20px;
}

.progress-font {
  color: #ffffff;
  font-size: 24px;
}

.test0-div {
  margin-top: 10px;
  height: "450px";
}

.cine-hide {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: "HS-Regular";
}

.cine-select-div {
  display: flex;
  z-index: 50;
  cursor: pointer;
  width: 100%;
}

.index-container {
  margin-top: 10px;
  width: 100%;
}

.index-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
}

.index-input {
  margin-bottom: 20px;
  padding: 0 10px;
  width: calc(100% - 20px);
  height: 45px;
  font-family: "omyu_pretty";
  font-size: 25px;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.cine-hide-select {
  padding: 10px;
  height: 50px;
  font-family: "omyu_pretty";
  font-size: 22px;
}

.question-container {
  display: flex;
  flex-direction: column;
  line-height: 200%;
  font-size: 25px;
}

.negative-word {
  margin: 0 3px;
  text-decoration: underline;
}

.options {
  cursor: pointer;
  padding: 0 5px;
}

.options:hover {
  background-color: #000000;
  color: #ffffff;
}

.options-commentary:hover {
  background-color: #ffffff;
  color: #000000;
}

.reference {
  display: inline-block;
  margin-left: 10px;
  color: #ffffff;
}

.reference-text {
  border: 1px solid #000000;
  border-radius: 1000px;
  padding: 3px 5px;
  color: #000000;
}

.reference-text-dark {
  border: 1.5px solid #ffffff;
  color: #ffffff;
}

.caption {
  margin-left: 5px;
}

.cine-top-img {
  width: 150px;
  height: 120px;
}

.cine-top-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1.5px solid #000000;
  width: 150px;
  height: 30px;
  font-size: 20px;
}

.result-text {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 25px;
}

.result-text:last-child {
  margin-bottom: 200px;
}

.score {
  margin-top: 20px;
  font-size: 50px;
  font-weight: 900;
}

.chungking-express {
  margin: 40px 0;
  margin-bottom: 40px;
  text-align: center;
  font-size: 60px;
}

.comment {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 150%;
  font-size: 25px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image {
  margin: 15px 0 25px 0;
  width: 340px;
  height: 235px;
}

.options-selected {
  background-color: #000000;
  color: #ffffff;
}

.options-answer {
  padding: 0 5px;
}

.options-line {
  margin: 40px 0;
  border-top: 1px dashed #000000;
  width: 100%;
}

.star-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.star-color {
  display: absolute;
  z-index: 2;
  margin-top: 20px;
  width: 230px;
  height: 47px;
}

.star-mono {
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  width: 230px;
  height: 47px;
}

.commentary-container {
  margin-bottom: 50px;
}

.user-answer {
  margin-left: 10px;
  color: red;
}

@media (max-width: 600px) {
  .image {
    margin: 5px 0 15px 0;
    width: 225px;
    height: 160px;
  }

  .options-container {
    margin-top: 80px;
  }

  .cine-hide-select {
    padding: 5px;
    height: 40px;
    font-size: 20px;
  }

  .test0-div {
    margin-top: 10px;
    height: 450px;
  }

  .test0-ol {
    margin-top: 13px;
    margin-left: 0px;
    font-size: 20px;
  }

  .test0-span-2 {
    font-size: 22px;
  }

  .test0-span {
    font-size: 18px;
  }

  .title {
    font-size: 27px;
  }

  .content {
    flex-grow: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 90%;
    height: 90vh;
  }

  .question-container {
    line-height: 200%;
    font-size: 20px;
  }

  .progress-container {
    height: 30px;
  }

  .progress {
    height: 30px;
  }

  .short-answer-input {
    font-size: 20px;
  }

  .button {
    font-size: 20px;
  }

  .cine-kakao-button-flex {
    font-size: 20px;
  }

  .options-button-flex {
    font-size: 20px;
  }

  .cine-challenge-button-flex {
    font-size: 20px;
  }

  .progress-font {
    font-size: 20px;
  }

  .comment {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
  }

  .result-text {
    font-size: 22px;
  }
}
